@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.logomgatas {
  width: 100%;
  height: 100%;
  text-align: center;
}

.logomgatas label {
  display: block;
  color: #fff;
  background-color: #ec1c4d;
  padding-top: 45vh;
  padding-bottom: 55vh;
  font-size: 5vw;
  text-align: center;
}

.logomgatas img {
  width: 35vw;
  margin-top: 100vw;
  margin-bottom: 20vw;
}

.gemajuang {
  width: 100%;
  height: 100%;
  background-color: #ec1c4d;
  color: #fff;
}

.gemajuang h1 {
  text-align: center;
  padding: 10vw 0 0 0;
  font-size: 10vw;
  line-height: 75%;
}

.gemajuang p {
  text-align: justify;
  padding: 3vw 10% 10% 10%;
  font-size: 3vw;
  line-height: 125%;
}

.gemajuang p strong {
  font-weight: normal;
  font-size: 5vw;
}

.kolasegambar {
  display: flex;
  flex-wrap: wrap;
  padding: 5vw 5vw;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 1.5vw;
}

.column img {
  margin-top: 3vw;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

footer {
  background: #710921;
  width: 100%;
  height: 17vw;
  padding-top: 7vw;
  font-size: 2vw;
  color: #fff;
  text-align: center;
}
